@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-primary: #5fdd9d;
    --color-secondary: #036d19;
    --color-tertiary: #db995a;
    --color-tertiary-variant: #c6ac8f;
    --color-quaternary: #020122;
    --color-white: #ffff; 
    --color-light: rgba(255,255,255, 0.6);

    --transition: all 400ms ease;

    --colrainter-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-primary);
    color: var(--color-quaternary);
    line-height: 1.7;
    background-image: url(../src/assets2/bg-texture.png);
}

/* =============== General Styling ================= */
.container {
    width: var(--colrainter-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;

}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-quaternary);

}

section > h2 {
    color: var(--color-quaternary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-quaternary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-quaternary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 2px solid var(--color-quaternary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-tertiary);
    background-image: url(../src/assets2/bg-texture.png);
    color: var(--color-white);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-quaternary);
    color: var(--color-primary);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}





/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (max-width: 1199px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
    
}

/* ============================ MEDIA QUERIES (SMALL DEVICES) ======================= */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
    
}